#login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  .form-warp{
    width: 500px;
    max-width: 100%;
    background-color: $grey;
    padding: 2rem 3rem;
    border-radius: 10px;
    margin-bottom: 80px;
  }

}