// Fonts
$raleway: 'Raleway', sans-serif;
$sniglet: 'Sniglet', cursive;
$lato: 'Lato', sans-serif;


// Colors
$orange: #d62929;
$black: #000000;
$grey: #555555;

// Bootstrap Variables Mod
$theme-colors: (
  "primary": $orange
);
