<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roku - Audio / Video App</title>
    <link rel="stylesheet" href="../css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
<main id="app">
    <div v-if="!authenticated" class="login-bg"></div>

    <!-- MAIN HEADER -->
    <header id="main-header" class="py-3 fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="../images/roku.svg" alt="Roku logo" class="header-logo">
                </div>
                <nav v-if="authenticated" class="float-right">
                    <ul>
                        <!-- <li>Kids</li> -->
                        <li v-if="authenticated"><i class="fas fa-user-circle"></i></li>
                        <li v-if="administrator"><i class="fas fa-cog"></i></li>
                        <li v-if="authenticated" v-on:click="logout()"><i class="fas fa-power-off"></i></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header><!-- /#main-header -->

    <!-- first thing in component templates should be a container -->

    <div class="component-wrapper" id="login-form">
        <div class="container">
            <div class="form-warp mx-auto">
                <h1>Sign in</h1>
                <p class="mt-3 mb-4">Before watching your favorite TV Shows on Roku, please log in with a valid username and password.</p>

                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <footer class="container-fluid d-flex align-items-center justify-content-end fixed-bottom" id="main-footer">
        <div class="copyright">
            <p class="mb-0">&copy; Copyright 2019. Roku. All Rights Reserved. </p>
        </div>
    </footer>
</main>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="module" src="../js/main.js"></script>

<script>
    $('.toast').toast();
</script>
</body>
</html>